.profile-head {
  margin-left: 185px;
  margin-top: -85px;
  font-size: 30px;
  font-weight: 600;
}

.profile-id {
  margin-left: 185px;
}

.centered-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.centered-box {
  width: 800px;
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 20px;
  transform: translateZ(
    20px
  ); 
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  left: 105px;
}

/* Style the Edit Profile button */
.edit-profile-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.edit-profile-button:hover {
  background-color: #0056b3; 
}
